body {
	
	font-family: 'times new roman', bodoni, georgia;
	font-size: 12pt;	
	width: auto;
	background: url(g1.jpg); background-position: left, right; background-repeat: repeat-y;  
	background-color: #ace7ac;
	text-align: justify; 
        scrollbar-base-color: #66b36a;
}

#table {
width: 770px;
background: url(st3.gif); 
background-color: #66b36a;
cellpadding: 0;
cellspacing: 0;
border: 0;
font-size: 12pt;
color: #002000;
margin:auto;
}



.w {
font-family: garamond; 
font-size: 17pt; 
font-weight: bold;
color: #8e0066
}



.f {
font-family: garamond; 
color: #c7f3b5;
font-size: 18pt; 
}



.z {
font-family: garamond; 
font-size: 14pt; 
color: #c7f3b5;
}


a:link {
    color: #8e0066;
    text-decoration: none;
}


a:visited {
    text-decoration: underline;
   }

a:hover {

    color: #365;
    background-color: #ace7ac;
    text-decoration: none;
}


	
h1 {
margin-left: 1cm; margin-top: 1cm; 
font-family: garamond; 

}


p, blockquote {
font-family: 'times new roman', bodoni, georgia;
font-size: 12pt;
margin-right: 1cm
}


ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 20px;
	font-family: garamond;
	font-size: 13pt;
	font-weight:bold;
}
ul li {
	width: 190px;
	padding-left: 10px;
	background: #797 no-repeat left top;
	border-width: 1px;
	border-style: solid;
	border-color: #dfe #365 #365 #dfe;
}

ul a:link, ul a:visited {
	display: block;
	width: 169px;
	text-decoration: none;
	padding: 5px 10px;
	font-weight: bold;
	background: #ace7ac repeat-x top;
	color: #365;
	border-left: 1px solid #797;
}

ul a:hover {
	background-color: #797;
	color: #eff;
}

<!--<p>.w - więcej, zamówienie; .f - fragment; .z - kontakt</p>-->